<nav th:fragment="sidebar(activePage)" class="sidebar">
    <div class="logo">FinSync</div>
    <ul class="nav-links">
        <li>
            <a th:href="@{/dashboard}"
               th:class="${activePage == 'dashboard' ? 'active' : ''}">
                рабочий стол
            </a>
        </li>
        <li>
            <a th:href="@{/transactions}"
               th:class="${activePage == 'finances' || activePage == 'transactions' ? 'active' : ''}">
                мои финансы
            </a>
        </li>
        <li>
            <a th:href="@{/goals}"
               th:class="${activePage == 'goals' ? 'active' : ''}">
                цели
            </a>
        </li>
        <li>
            <a th:href="@{/invites}"
               th:class="${activePage == 'social' ? 'active' : ''}">
                социальный режим
            </a>
        </li>
        <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
            <a th:href="@{/admin/users}"
               th:class="${activePage == 'admin' ? 'active' : ''}">
                администрирование
            </a>
        </li>
    </ul>

</nav>